<!DOCTYPE html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<head>
  <title>Ahi Te Veo: Deals on Restaurants, Fitness, Travel, Shopping, Beauty &amp; more</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta content='Get 50-90% off Restaurants, Fitness, Travel, Shopping, Beauty, Spas, Yoga, Dentists, Home Services, Automotive, Pets, Comedy Clubs, Nightlife, Theater and more. Get the Deal of the Day email in La paz, Cochabamba, Santa Cruz, Oruro, Potosi, Chuquisaca, Beni, Pando ... everywhere! Get your Ahiteveo today.' name='description'/>
  <%= csrf_meta_tags %>

  <script>
      $(document).ready(function () {

          var options = {};
          options['dots'] = true;
          options['preview'] = true;
          $('.border_box').css({
              'marginBottom': '40px'
          });
          $('.box_skitter_large').skitter(options);

          // Highlight
          //$('pre.code').highlight({source:1, zebra:1, indent:'space', list:'ol'});
      });
  </script>
</head>
<!--inicio de body-->
<section id="todo">
<body class="<%= params[:controller] %>">

  <header>
    <div id="logo">
      <%= link_to image_tag("logo.png", :widht => "100", :height => "100"), "/principal/index" %>
    </div>
    <div id="slogan">
      <p> TU MEJOR OPCION PARA PROMOCIONAR TUS PRODUCTOS </p>
    </div>
    <div id="login">
      <% if current_user %>
          Sesión iniciada como: <%= current_user.email %>.<%= link_to "Cerrar sesión", logout_path %>
          Tipo:<%= current_user.tipo %>
      <% else %>
          <%= render "new" %>
      <% end %>
    </div>
  </header>
  <%= render "menu1" %>
  <br/>
  <% if controller_path == "principal" %>
      <center>
        <%= render "slide" %>
      </center>
  <% end %>
  <section id="conten2">
    <section id="menu2">
      <!--inicio menu 2-->

      <!--fin menu 2-->
    </section>
    <script type="text/javascript">
        $(document).ready(function ($) {
            $('#mega-1').dcVerticalMegaMenu({
                rowItems: '1',
                speed: 'fast',
                effect: 'slide',
                direction: 'right'
            });
        });
    </script>
    <section id="cuerpoprincipal">
      <br/>
      <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <br/>
      <%= yield %>
    </section>
    <section id="menu3">
      <!--inicio menu 2-->

      <!--fin menu 2-->
    </section>
  </section>
</body>


<!--fin de body--><!--inicio de footer-->
<footer>
    <span class="copyright">Copyright &copy; 2013 <div id="logo">
      <%= link_to image_tag("logosie1.png", :widht => "50", :height => "50"), "http://www.sielabs.net" %>
    </div>
    All Rights Reserved</span>
  <br>

  <div id="men">
    <%= link_to "Contactos", :controller => :contacts, :action => :new %>
    |<%= link_to "terminos de uso", :controller => :empresas, :action => :acuerdo %>

  </div>
</footer>
<!--fin de footer-->
</section>
</html>
